<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/assets/css/requestedClasses.css" rel="stylesheet" type="text/css">
<title>Requested Classes</title>
</head>

<body>
<div id="header">
	<ul id="menubar">
    	<li><div>Seek <span>A</span> Geek</div></li>
        {% if user %}
            <li><a href="/home">Home</a></li>
        {% endif %}
        <li><a href="/requested_classes">Requested Classes</a></li>
        <li><a href="/about">About</a></li>
        {% if not user %}
        <li><a href="/sign_in">Sign In</a></li>
        {% endif %}
        {% if user %}
        <li><a href="{{logout_link}}">Sign Out</a></li>
        {% endif %}
    </ul>
</div>
<hr>

<div align="center">
<div id="container">
<p id="upcomingClasses">
All Class Requests
</p>
<ul id="upComingClassesList">
	     {% for data in classes %}
            <a href="/mentor_that/{{data.key()}}">
            <li>
                <b>{{data.title}}</b><br><br>
                Requested by: <span>
                    {% for stud in data.list_of_students %}
                                {{stud.name}}<br/>
                    {% endfor %}</span>
                Description: {{data.description_student}}
            </li>
        </a>
    {% endfor %}
</ul>
</div>
</div>
<div id="footer">
<p>
This was made by <span>Tushar</span> Gupta, <span>Aneesh</span> Dogra & <span>Manav</span> Batra for the <span>Byld Hackathon</span><br><br>Seek <span>A</span> Geek
</p>
</div>
</body>
</html>
